body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    min-width: 800px;
    width: 100%;
    padding: 0 20px;
  }

button{
    margin : 5px;
    border : 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }

input{
    margin: 8px;
}
.todo-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .todo-card {
    margin: 8px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .done {
    text-decoration: line-through;
  }

  .delete-btn{
    border : 1px solid red;
  }

  .done-btn{
    border : 1px solid blue;
  }
  

  